<h2 mat-dialog-title class="modal-title">{{ isEdit() ? 'Editar tarea' : 'Nueva tarea' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form()">
    <div class="form-group">
      <label>Título</label>
      <input formControlName="title" required>
      @if (form().get('title')?.invalid && form().get('title')?.touched) {
        <span class="error">El título es obligatorio</span>
      }
    </div>

    <div class="form-group">
      <label>Descripción</label>
      <textarea formControlName="description"></textarea>
    </div>

    <div class="form-group">
      <label>Prioridad</label>
      <select formControlName="priority">
        <option value="Baja">Baja</option>
        <option value="Media">Media</option>
        <option value="Alta">Alta</option>
      </select>
    </div>

    @if (!isEdit()) {
      <div class="form-group">
        <label>Columna inicial</label>
        <select formControlName="status">
          <option value="todo">To Do</option>
          <option value="inProgress">In Progress</option>
          <option value="done">Done</option>
        </select>
      </div>
    }
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    Cancelar
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="save()"
    [disabled]="form().invalid">
    {{ isEdit() ? 'Guardar' : 'Crear' }}
  </button>
</mat-dialog-actions>
