<div
  class="column"
  [ngClass]="{
    'todo-header': title() === 'To Do',
    'progress-header': title() === 'In Progress',
    'done-header': title() === 'Done',
  }"
  cdkDropList
  [id]="listId()"
  [cdkDropListData]="tasks()"
  [cdkDropListConnectedTo]="connectedTo()"
  (cdkDropListDropped)="dropFn()($event)"
>
   <div class="column-header"
    [ngClass]="{
      'header-todo':     title() === 'To Do',
      'header-progress': title() === 'In Progress',
      'header-done':     title() === 'Done'
    }"
  >
    <div class="column-title-group">
      <span class="column-dot"></span>
      <span class="column-title">{{ title() }}</span>
    </div>
    <span class="task-count">{{ tasks().length }}</span>
  </div>

  @if (tasks().length === 0) {
    <div class="empty-state">
      <div class="empty-icon">📋</div>
      <p class="empty-title">Sin tareas</p>
      <p class="empty-subtitle">Arrastra una tarea aquí</p>
    </div>
  }

  @for (task of tasks(); track task.id) {
    <div cdkDrag (cdkDragStarted)="onDragStart()()" (cdkDragEnded)="onDragEnd()()">
      <app-task-card [task]="task" (delete)="deleteFn()($event)" (update)="updateFn()($event)">
      </app-task-card>
    </div>
  }
</div>
