/* COLUMNAS */

.column{
  min-height:500px;
  background:rgba(255,255,255,0.9);
  padding:15px;
  border-radius:12px;
  display:flex;
  flex-direction:column;
  gap:10px;
  box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.column:hover{
  transform: translateY(-3px);
  box-shadow:0 10px 20px rgba(0,0,0,0.12);
}

/* HEADER COLUMN */

.column h2{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:18px;
  font-weight:600;
  color:#1f2937;
}

/* CONTADOR DE TAREAS */

.task-count{
  background:#1976d2;
  color:white;
  padding:4px 10px;
  border-radius:20px;
  font-size:12px;
  font-weight:600;
}

/* DRAG & DROP */

.cdk-drag-preview{
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
  border-radius:8px;
}

.cdk-drag-placeholder{
  opacity:0;
}

.cdk-drag-animating{
  transition:transform 250ms cubic-bezier(0,0,0.2,1);
}

.column.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder){
  transition:transform 250ms cubic-bezier(0,0,0.2,1);
}
