<div class="column" cdkDropList
  [id]="listId"
  [cdkDropListData]="tasks"
  [cdkDropListConnectedTo]="connectedTo"
  (cdkDropListDropped)="dropFn($event)">

  <h2>{{ title }} <span class="task-count">{{ tasks.length }}</span></h2>
  @if (tasks.length === 0) {
    <div class="emptyList">Sin tareas</div>
  }

  @for (task of tasks; track task.id) {
    <div cdkDrag>
      <app-task-card [task]="task" (delete)="deleteFn(task, tasks)" (update)="updateFn($event)"></app-task-card>
    </div>
  }


</div>
