<div class="dialog-container">

  <div class="icon-wrapper">
  <svg width="50" height="50" viewBox="0 0 24 24" fill="none">
    <circle cx="12" cy="12" r="12" fill="#f44336"/>
    <line x1="12" y1="6" x2="12" y2="14" stroke="white" stroke-width="2"/>
    <circle cx="12" cy="18" r="1" fill="white"/>
  </svg>
</div>


  <h2>{{ data.title }}</h2>
  <p>{{ data.message }}</p>

  <div class="actions">
    <button mat-stroked-button (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="warn" (click)="confirm()">Eliminar</button>
  </div>

</div>
