<h2 mat-dialog-title class="modal-title">
  Editar tarea
</h2>

<mat-dialog-content>

<div class="form-group">
<label>Título</label>
<input [(ngModel)]="task.title" required #title="ngModel">

@if(title.invalid && title.touched){
  <span class="error">El título es obligatorio</span>
}
</div>

<div class="form-group">
<label>Descripción</label>
<textarea [(ngModel)]="task.description"></textarea>
</div>

<div class="form-group">
<label>Prioridad</label>
<select [(ngModel)]="task.priority">
<option value="Baja">Baja</option>
<option value="Media">Media</option>
<option value="Alta">Alta</option>
</select>
</div>

</mat-dialog-content>

<mat-dialog-actions align="end">

<button mat-button mat-dialog-close>
Cancelar
</button>

<button
mat-raised-button
color="primary"
(click)="save()"
[disabled]="title.invalid">
Guardar
</button>

</mat-dialog-actions>
